<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
#{form @RegistrationController.resetPassword(), class:'form', enctype:'multipart/form-data', method:'POST'}
   <input type="hidden" name="code" value="${code}" />
   <div>
      New Password : <input type="text" name="password" value="${flash.password}" />
      <span class="error">#{error 'password' /}</span>
   </div>
   <div>
      Confirm New Password: <input type="text" name="passwordConfirm" value="${flash.passwordConfirm}" /> 
      <span class="error">#{error 'passwordConfirm' /}</span>
   </div>
   <div>
      <input type="submit" value="Reset" /> 
   </div>
#{/form}
</body>
</html>